.betterselect
{
	position: relative;
	cursor: pointer;
	padding: 0;
	text-decoration: none;
	
	&:hover
	{
		text-decoration: none;
	}
	
	//&:focus
	//{
	//	background: red;
	//}
	
	.curval
	{
		width: 100%;
		height: inherit;
	
		&:before
		{
			float: right;
			content:"▾" 
		}
	}
	
	.betterselect-option
	{
		display: none;
		&:hover
		{
			background: $dark-brown;
		}
	}
	.values
	{
		position: absolute;
		background: inherit;
		color: #fff;
		left: 0;
		max-height: 0;
		overflow-y: scroll;
		@include transition(max-height 0.15s ease-out);
	}
	
	&.focus, &:focus
	{
		.values
		{
			display: block;
			max-height: 300px;
			z-index: 899;
			width: 100%;
			border: none;
		}
		.betterselect-option
		{
			display: block;
			padding: 2px 3px;
			height: 1.1em;
			
			&.selected
			{
				background: $gold-brown;
				color: #000;
			}
		}
	}
}
