@import 'config/values';
@import 'config/sprites';

@import "util/normalize";
//@import "util/betterselect";
@import "util/bootstrap.responsive.scaffholding";
//@import "util/jquery.timepicker";
//------------------------------------------------------------------------------

@import "main/general";
@import "main/fontface";
@import "main/forms";
//------------------------------------------------------------------------------

body
{
	margin-bottom: 30px;
}

.row-fluid
{
	margin-bottom: 25px;
}

.main-block
{
	position: relative;
	padding: 13px 8px;
	background: rgba(#fff, 1/$g);
	color: $near-black;
}

.btn
{
	max-width: 150px;
	width: 90%;
	text-align: center;
}

input[type="checkbox"]
{
	position: relative;
	top: 1px;
}

.password-block
{
	text-align: center;
}

.password-type-block
{
	text-align: center;
	
	p
	{
		margin-top: 0;
		padding: 0 5px;
		font-size: 0.95em;
	}
}

.type-btn
{
	width: 90%;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 1.3em;
}

.options-block, .robustness-block
{
	@include opacity(0);
	@include transition(all 0.3s ease-out);
	text-align: center;
}
.options-subblock
{
	display: none;
	text-align: left;
	
	margin-bottom: 10px;
	
	width: 75%;

	&.active
	{
		display: inline-block;
	}
	
}
#generate-btn
{
	width: 80%;
	max-width: 80%;
	padding: 10px 0;
	font-size: 1.2em;
}

.robustness-block
{
	input
	{
		display: block;
		width: 95%;
		text-align: center;
		font-size: 0.95em;
	}
}

#password
{
	background: #fff;
	width: 94%;
	display: inline-block;
	font-size: 2em;
	font-family: monospace;
	text-align: center;
	
	@media(max-width:767px)
	{
		font-size: 1em;
	}
}

#bf-cases
{
	font-size: 16px;
}

input.error
{
	@include box-shadow(inset 0 0 5px #800);
}

footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(#000, 0.6);
}

.hash-val
{
}

#loading-box
{
	position: fixed;
	bottom: 20px;
	background: black;
	color: white;
}